<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}" />\
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Live Twitter Visualization</title>
    {% endblock %}
  </head>
  <body>
    <nav class="navbar">
      <!-- LOGO -->
      <div class="logo">Twitter Dashboard</div>
      <!-- NAVIGATION MENU -->
      <ul class="nav-links">
        <!-- USING CHECKBOX HACK -->
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        <!-- NAVIGATION MENUS -->
        <div class="menu">
            <li class="services">
              <a href="{{ url_for('get_home') }}"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
              <ul class="dropdown">
              <li><a href="/">Background </a></li>
              <li><a href="/">Contact</a></li>
              </ul>
          </li>
          <li class="services">
            <a href="/"><i class="fa fa-line-chart" aria-hidden="true"></i>Visualize</a>
            <ul class="dropdown">
            <li><a href="/">Dominant User data </a></li>
            <li><a href="{{ url_for('view_analyse') }}">Dominant Categories</a></li>
            <li><a href="{{ url_for('view_visualise') }}">Categorical wordclouds</a></li>
            <li><a href="{{ url_for('get_geoheatmap') }}">Categorical Geolocation Heatmap</a></li>
            <li><a href="/">Categorical Tweet Analysis</a></li>
          </ul>
        </li>
          <li class="services">
            <a href="/"><i class="fa fa-bar-chart" aria-hidden="true"></i>Categorical Analysis</a>
            <!-- DROPDOWN MENU -->
            <ul class="dropdown">
              <li><a href="/">Fake News </a></li>
              <li><a href="/">Satire/Parody</a></li>
              <li><a href="/">Hate Speech</a></li>
              <li><a href="/">Manipulated Content</a></li>
              <li><a href="/">Misleading Content</a></li>
            </ul>
          </li>
          <li><a href="/"><i class="fa fa-cogs" aria-hidden="true"></i>Live Twitter Analysis</a></li>
          <li><a href="/"></a></li>
        </div>
      </ul>
    </nav> 
    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>