{% extends "base.html" %}
{% block title %}Live Twitter Visualization{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div>
    <div class="column" style="float: left; width: 80%; margin-left: 650px;">
      <h1>Contact Us</h1>
    </div>
    <div class="row">
        <div class="column" style="float: left; width: 32%; margin-top: 70px; margin-left: 250px;">
          <div class="card" id="about">
            <h2>Harshita Srinivas</h2>
            <p class="content">harshita19244@iiitd.ac.in </p>
          </div>
        </div>
        <div class="column" style="float:left; width: 32%; margin-top: 70px; margin-left: 180px;" >
          <div class="card" id="background">
            <h2>Karish Grover</h2>
            <p class="content"> karish19471@iiitd.ac.in</p>
          </div> 
        </div>
        <div class="column" style="float: left; width: 32%; margin-top: 70px; margin-left: 250px;">
            <div class="card" id="about">
              <h2>Kirthana Natarajan</h2>
              <p class="content">kirthana19053@iiitd.ac.in</p>
            </div>
          </div>
          <div class="column" style="float:left; width: 32%; margin-top: 70px; margin-left: 180px;">
            <div class="card" id="background">
              <h2>Manasvi Singh</h2>
              <p class="content">manasvi19369@iiitd.ac.in</p>
            </div> 
          </div>
          <div class="column" style="float:left; width: 32%; margin-top: 70px; margin-left: 250px;">
            <div class="card" id="background">
              <h2>Naman Gupta</h2>
              <p class="content">naman19436@iiitd.ac.in</p>
            </div> 
          </div>
          <div class="column" style="float:left; width: 32%; margin-top: 70px; margin-left: 180px;">
            <div class="card" id="background">
              <h2>Vani Sikka</h2>
              <p class="content">vani19395@iiitd.ac.in</p>
            </div> 
          </div>
        </div>
{% endblock %}