{% extends "base.html" %}
{% block title %}Live Twitter Visualization{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div>
    <div class="column" style="float: left; width: 80%; margin-left: 600px;">
            <h1>Liked Tweets</h1>
    </div>
    <div class="row">
        
          <div class="column" style="float: left; width: 32%; margin-top: 70px; margin-left: 250px;">
            <div class="card" id="about">
              <div id='chart_0_likes' class='chart'”></div>
              
              <p class="content">Top most  'true' category liked tweets</p>
            </div>
          </div>
          <div class="column" style="float:left; width: 32%; margin-top: 70px; margin-left: 180px;">
            <div class="card" id="background">
              <div id='chart_1_likes' class='chart'”></div>
              
              <p class="content">Top most'satire' category liked tweets</p>
            </div> 
          </div>
          <div class="column" style="float: left; width: 32%; margin-top: 70px; margin-left: 250px;">
            <div class="card" id="about">
              <div id='chart_2_likes' class='chart'”></div>
              
              <p class="content">Top most 'misleading' category liked tweets</p>
            </div>
          </div>
          <div class="column" style="float:left; width: 32%; margin-top: 70px; margin-left: 180px;">
            <div class="card" id="background">
              <div id='chart_3_likes' class='chart'”></div>
              
              <p class="content">Top most'false' category liked tweets</p>
            </div> 
          </div>
          <div class="column" style="float: left; width: 32%; margin-top: 70px; margin-left: 250px;">
            <div class="card" id="about">
              <div id='chart_4_likes' class='chart'”></div>
              
              <p class="content">Top most'imposter' category liked tweets</p>
            </div>
          </div>
          <div class="column" style="float:left; width: 32%; margin-top: 70px; margin-left: 180px;">
            <div class="card" id="background">
              <div id='chart_5_likes' class='chart'”></div>
              
              <p class="content">Top most'manipulated' category liked tweets</p>
            </div> 
          </div>
    </div>
</div>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  

  var graph_likes_0={{graphJSON_likes[0]|safe}};
  var graph_likes_1={{graphJSON_likes[1]|safe}};
  var graph_likes_2={{graphJSON_likes[2]|safe}};
  var graph_likes_3={{graphJSON_likes[3]|safe}};
  var graph_likes_4={{graphJSON_likes[4]|safe}};
  var graph_likes_5={{graphJSON_likes[5]|safe}};
  
 

  Plotly.plot('chart_0_likes',graph_likes_0,{});
  Plotly.plot('chart_1_likes',graph_likes_1,{});
  Plotly.plot('chart_2_likes',graph_likes_2,{});
  Plotly.plot('chart_3_likes',graph_likes_3,{});
  Plotly.plot('chart_4_likes',graph_likes_4,{});
  Plotly.plot('chart_5_likes',graph_likes_5,{});

</script>
{% endblock %}