<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dispersion Network</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dispersion.css') }}" />
  </head>  
  <body>
    <script type = module src="{{ url_for('static', filename='js/script.js') }}"></script>
    <div id="netviz"></div>
    <div id="tooltip">Tooltip</div>
    <div id="selectionmenu"></div>
    <div id="loading"></div>
    <div id="message">press space to start the layout</div>
    <div class="wrapper">
      <div class="box box1">This box uses opacity</div>
  </div>            

    <a href="http://www.p51labs.com/lightwindow/blank-huge.html" class="lightwindow page-options" title="Sample Title"><strong>Monster Fixed Page</strong> - This page is just plain to big for the browser window unless you maximize a 30 inch monitor.</a>      

    <!-- <canvas id="saveCanvas"></canvas> -->
  </body>
</html>
