{% extends "base.html" %}
{% block title %}Categorical Geolocation Heatmap{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div>
    <div class="row">
        <div class="column" style="float: left; width: 32%; margin-top: 70px; margin-left: 250px;">
          <div class="card" id="about">
            <img src={{ img1}} alt="Avatar" class="card-im">
            
            <p class="content">Bar plot for users with max number of tweets in '0' category </p>
          </div>
        </div>
        <div class="column" style="float:left; width: 32%; margin-top: 70px; margin-left: 155px;" >
          <div class="card" id="background">
            <img src={{ img2}} alt="Avatar" class="card-im">
            
            <p class="content"> Bar plot for users with max number of tweets in '1' category</p>
          </div> 
        </div>
        <div class="column" style="float: left; width: 32%; margin-top: 70px; margin-left: 250px;">
            <div class="card" id="about">
              <img src={{ img3}} alt="Avatar" class="card-im">
              
              <p class="content">Bar plot of most likes of '0' category users </p>
            </div>

        </div>
          <div class="column" style="float:left; width: 32%; margin-top: 70px; margin-left: 155px;">
            <div class="card" id="background">
              <div id='chart3' class='chart'”></div>
              
              <p class="content">Bar Plot of users with max number of tweets in '3' category</p>
            </div> 
          </div>
          <div class="column" style="float: left; width: 32%; margin-top: 70px; margin-left: 250px;">
            <div class="card" id="about">
              <div id='chart4' class='chart'”></div>
              
              <p class="content">Bar Plot of users with max number of tweets in '4' category</p>
            </div>
        </div>
          <div class="column" style="float:left; width: 32%; margin-top: 70px; margin-left: 155px;">

            <div class="card" id="background">
              <img src={{ img4}} alt="Avatar" class="card-im">
              
              <p class="content">Bar plot of most likes of '1' category users</p>
            </div> 
          </div>

          <div class="column" style="float: left; width: 32%; margin-top: 70px; margin-left: 250px;">
            <div class="card" id="about">
              <div id='chart_0_likes' class='chart'”></div>
              
              <p class="content">Top most '0' category liked tweets</p>
            </div>
          </div>
          <div class="column" style="float:left; width: 32%; margin-top: 70px; margin-left: 155px;">
            <div class="card" id="background">
              <div id='chart_1_likes' class='chart'”></div>
              
              <p class="content">Top most '1' category liked tweets</p>
            </div> 
          </div>
          <div class="column" style="float: left; width: 32%; margin-top: 70px; margin-left: 250px;">
            <div class="card" id="about">
              <div id='chart_2_likes' class='chart'”></div>
              
              <p class="content">Top most '2' category liked tweets</p>
            </div>
          </div>
          <div class="column" style="float:left; width: 32%; margin-top: 70px; margin-left: 155px;">
            <div class="card" id="background">
              <div id='chart_3_likes' class='chart'”></div>
              
              <p class="content">Top most '3' category liked tweets</p>
            </div> 
          </div>
          <div class="column" style="float: left; width: 32%; margin-top: 70px; margin-left: 250px;">
            <div class="card" id="about">
              <div id='chart_4_likes' class='chart'”></div>
              
              <p class="content">Top most '4' category liked tweets</p>
            </div>
          </div>
          <div class="column" style="float:left; width: 32%; margin-top: 70px; margin-left: 155px;">
            <div class="card" id="background">
              <div id='chart_5_likes' class='chart'”></div>
              
              <p class="content">Top most '5' category liked tweets</p>
            </div> 
          </div>
    </div>
</div>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs0 = {{graphJSON0 | safe}};
  var graphs1 = {{graphJSON1 | safe}};
  var graphs2 = {{graphJSON2 | safe}};
  var graphs3 = {{graphJSON3 | safe}};
  var graphs4 = {{graphJSON4 | safe}};
  var graphs5 = {{graphJSON5 | safe}};
  var graph_likes_0={{graphJSON_likes_0|safe}};
  var graph_likes_1={{graphJSON_likes_1|safe}};
  var graph_likes_2={{graphJSON_likes_2|safe}};
  var graph_likes_3={{graphJSON_likes_3|safe}};
  var graph_likes_4={{graphJSON_likes_4|safe}};
  var graph_likes_5={{graphJSON_likes_5|safe}};
  Plotly.plot('chart0',graphs0,{});
  Plotly.plot('chart1',graphs1,{});
  Plotly.plot('chart2',graphs2,{});
  Plotly.plot('chart3',graphs3,{});
  Plotly.plot('chart4',graphs4,{});
  Plotly.plot('chart5',graphs5,{});

  Plotly.plot('chart_0_likes',graph_likes_0,{});
  Plotly.plot('chart_1_likes',graph_likes_1,{});
  Plotly.plot('chart_2_likes',graph_likes_2,{});
  Plotly.plot('chart_3_likes',graph_likes_3,{});
  Plotly.plot('chart_4_likes',graph_likes_4,{});
  Plotly.plot('chart_5_likes',graph_likes_5,{});

</script>

{% endblock %}
