{% extends "base.html" %}
{% block title %}Live Twitter Visualization{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div>
    <div class="column" style="float: left; width: 80%; margin-left: 600px;">
            <h1>Dominant Users</h1>
    </div>
    <div class="row">
      <details class="info" style="float: left; width: 65%; margin-left: 300px; margin-top: 60px;" open>
        <summary>3-way Hate-Offensive Classification</summary>
        <p>
        
        <div class="column">
          <div class="card" id="about">
            <div id='chart0' class='chart'”></div>
           
            <p class="content">Bar Plot of users with max number of tweets in 'hate' category </p>
          </div>
        </div>
        <div class="column" style="margin-top: 10px;">
          <div class="card" id="background">
            <div id='chart1' class='chart'”></div>
           
            <p class="content">Bar Plot of users with max number of tweets in 'offensive' category </p>
          </div> 
        </div>
        <div class="column" style="margin-top: 10px;">
            <div class="card" id="about">
              <div id='chart2' class='chart'”></div>
              
              <p class="content">Bar Plot of users with max number of tweets in 'none' category</p>
            </div>
        </div>
        </p> 
      </details>

      <details class="info" style="float: left; width: 65%; margin-left: 300px; margin-top: 60px;">
        <summary>2-way Fake Classification</summary>
        <p>
       
        <div class="column">
          <div class="card" id="about">
            <div id='chart3' class='chart'”></div>
            
            <p class="content">Bar Plot of users with max number of tweets in  'true' category </p>
          </div>
        </div>
        <div class="column" style="margin-top: 10px;">
          <div class="card" id="background">
            <div id='chart4' class='chart'”></div>
            <!--<h2>About</h2>-->
            <p class="content">Bar Plot of users with max number of tweets in 'false' category </p>
          </div> 
        </div>
        </p> 
      </details>

      <details class="info" style="float: left; width: 65%; margin-left: 300px; margin-top: 60px;">
        <summary>6-way Fake Classification</summary>
        <p>
       
        <div class="column">
          <div class="card" id="about">
            <div id='chart5' class='chart'”></div>
           
            <p class="content">Bar Plot of users with max number of tweets in  'true' category </p>
          </div>
        </div>
        <div class="column" style="margin-top: 10px;">
          <div class="card" id="background">
            <div id='chart6' class='chart'”></div>
          
            <p class="content">Bar Plot of users with max number of tweets in 'satire' category </p>
          </div> 
        </div>
        <div class="column" style="margin-top: 10px;">
            <div class="card" id="about">
              <div id='chart7' class='chart'”></div>
              
              <p class="content">Bar Plot of users with max number of tweets in 'misleading' category</p>
            </div>
        </div>
          <div class="column" style="margin-top: 10px;">
            <div class="card" id="background">
              <div id='chart8' class='chart'”></div>
              
              <p class="content">Bar Plot of users with max number of tweets in'false' category</p>
            </div> 
          </div>
          <div class="column" style="margin-top: 10px;">
            <div class="card" id="about">
              <div id='chart9' class='chart'”></div>
              
              <p class="content">Bar Plot of users with max number of tweets in'imposter' category</p>
            </div>
        </div>
          <div class="column" style="margin-top: 10px;">
            <div class="card" id="background">
              <div id='chart10' class='chart'”></div>
              
              <p class="content">Bar Plot of users with max number of tweets in'manipulated' category</p>
            </div> 
          </div>
        </p> 
      </details>

      <details class="info" style="float: left; width: 65%; margin-left: 300px; margin-top: 60px;">
        <summary>3-way Hate Classification</summary>
        <p>
       
        <div class="column">
          <div class="card" id="about">
            <div id='chart11' class='chart'”></div>
           
            <p class="content">Bar Plot of users with max number of tweets in 'explicit hate' category </p>
          </div>
        </div>
        <div class="column" style="margin-top: 10px;">
          <div class="card" id="background">
            <div id='chart12' class='chart'”></div>
            <!--<h2>About</h2>-->
            <p class="content">Bar Plot of users with max number of tweets in 'implicit hate' category </p>
          </div> 
        </div>
        <div class="column" style="margin-top: 10px;">
            <div class="card" id="about">
              <div id='chart13' class='chart'”></div>
              
              <p class="content">Bar Plot of users with max number of tweets in 'not hate' category</p>
            </div>
        </div>
        </p> 
      </details>

      <details class="info" style="float: left; width: 65%; margin-left: 300px; margin-top: 60px;">
        <summary>6-way Hate Classification</summary>
        <p>
        
        <div class="column">
          <div class="card" id="about">
            <div id='chart14' class='chart'”></div>
            
            <p class="content">Bar Plot of users with max number of tweets in 'incitement' category </p>
          </div>
        </div>
        <div class="column" style="margin-top: 10px;">
          <div class="card" id="background">
            <div id='chart15' class='chart'”></div>
            <!--<h2>About</h2>-->
            <p class="content">Bar Plot of users with max number of tweets in 'inferiority' category </p>
          </div> 
        </div>
        <div class="column" style="margin-top: 10px;">
            <div class="card" id="about">
              <div id='chart16' class='chart'”></div>
              
              <p class="content">Bar Plot of users with max number of tweets in 'irony' category</p>
            </div>
        </div>
          <div class="column" style="margin-top: 10px;">
            <div class="card" id="background">
              <div id='chart17' class='chart'”></div>
              
              <p class="content">Bar Plot of users with max number of tweets in 'stereotypical' category</p>
            </div> 
          </div>
          <div class="column" style="margin-top: 10px;">
            <div class="card" id="about">
              <div id='chart18' class='chart'”></div>
              
              <p class="content">Bar Plot of users with max number of tweets in 'threatening' category</p>
            </div>
        </div>
          <div class="column" style="margin-top: 10px;">
            <div class="card" id="background">
              <div id='chart19' class='chart'”></div>
              
              <p class="content">Bar Plot of users with max number of tweets in 'white grievance' category</p>
            </div> 
          </div>
        </p> 
      </details>    
    </div>
</div>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs0_cl1 = {{ graphJSON_1_[0] | safe}};
  var graphs1_cl1 = {{ graphJSON_1_[1] | safe}};
  var graphs2_cl1 = {{ graphJSON_1_[2] | safe}};
  Plotly.plot('chart0',graphs0_cl1,{});
  Plotly.plot('chart1',graphs1_cl1,{});
  Plotly.plot('chart2',graphs2_cl1,{});
  var graphs0_cl2 = {{ graphJSON_2_[0] | safe}};
  var graphs1_cl2 = {{ graphJSON_2_[1] | safe}};
 
  Plotly.plot('chart3',graphs0_cl2,{});
  Plotly.plot('chart4',graphs0_cl2,{});

  var graphs0_cl3 = {{ graphJSON_3_[0] | safe}};
  var graphs1_cl3 = {{ graphJSON_3_[1] | safe}};
  var graphs2_cl3 = {{ graphJSON_3_[2] | safe}};
  var graphs3_cl3 = {{ graphJSON_3_[3] | safe}};
  var graphs4_cl3 = {{ graphJSON_3_[4] | safe}};
  var graphs5_cl3 = {{ graphJSON_3_[5] | safe}};
  
  Plotly.plot('chart5',graphs0_cl3,{});
  Plotly.plot('chart6',graphs1_cl3,{});
  Plotly.plot('chart7',graphs2_cl3,{});
  Plotly.plot('chart8',graphs3_cl3,{});
  Plotly.plot('chart9',graphs4_cl3,{});
  Plotly.plot('chart10',graphs5_cl3,{});

  var graphs0_cl4 = {{ graphJSON_4_[0] | safe}};
  var graphs1_cl4 = {{ graphJSON_4_[1] | safe}};
  var graphs2_cl4 = {{ graphJSON_4_[2] | safe}};
  Plotly.plot('chart11',graphs0_cl4,{});
  Plotly.plot('chart12',graphs1_cl4,{});
  Plotly.plot('chart13',graphs2_cl4,{});

  var graphs0_cl5 = {{ graphJSON_5_[0] | safe}};
  var graphs1_cl5 = {{ graphJSON_5_[1] | safe}};
  var graphs2_cl5 = {{ graphJSON_5_[2] | safe}};
  var graphs3_cl5 = {{ graphJSON_5_[3] | safe}};
  var graphs4_cl5 = {{ graphJSON_5_[4] | safe}};
  var graphs5_cl5 = {{ graphJSON_5_[5] | safe}};
  
  Plotly.plot('chart14',graphs0_cl5,{});
  Plotly.plot('chart15',graphs1_cl5,{});
  Plotly.plot('chart16',graphs2_cl5,{});
  Plotly.plot('chart17',graphs3_cl5,{});
  Plotly.plot('chart18',graphs4_cl5,{});
  Plotly.plot('chart19',graphs5_cl5,{});

  
 

  

</script>
<script src="{{ url_for('static', filename='js/accordion.js') }}"></script>

{% endblock %}